@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

body {
  font-family: 'Cutive Mono', monospace;
}

header {
  text-align:center;
  margin-top: 30px;
  margin-bottom: 25px;
}

img {
  width: 100%;
}

.carousel-inner {
  width: 95%;
  max-width: 1000px;
  height: auto;
	max-height: auto;
	margin: auto;
  cursor: pointer;
}

.module {
  width: 95%;
  height: 612.5px;
  max-width: 1000px;
  max-height: 612.5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: none;
  overflow: visible;
  opacity: 1;
  transition: opacity 500ms;
}

.about-module {
  flex-wrap: wrap;
}
.about-header {
  text-align: center;
  width: 100%;
}
.about-container {
  width: 100%;
  display: flex;
}

.left-side, .right-side {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: center;
}
.left-side {
  margin-right: 5%;
}

.right-side {
  margin-left: 5%;
}

.about-element {
  text-align: center;
  margin: 15px 10px;
}

#about-info {
  margin-top: -25px;
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    }
.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(https://image.ibb.co/bXys79/mepic.png);
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }

.hexagon2 {
      width: 150px;
      height: 300px;
      margin-top: -20px;
      margin-left: auto;
      margin-right: auto;
}

#about-title {
  margin-top: -40px;
}

#about-info {
  font-size: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo-tile {
  margin: 0px 10px;
}

#css-tile {
  margin: 0px 15px 0px 20px;
}

.react-tile {
  margin: 0px 20px;
}

.right-side img {
  width: 60px;
}

.right-side h3 {
  width: 85%;
  margin: 30px 7.5%;
}
.logo-container {
  margin-top: 30px;
}

.bottom-tile {
  width: 97px;
}

.bottom-img {
  width: 60px;
}

#node-img {
  width: 55px;
}

#postgres-img {
  width: 58px;
}

.express-label {
  margin-top: 4px;
}

.node-label {
  margin-top: .89px;
}

.postgres-label {
  margin-top: 3.47px;
}

.rest-label {
  margin-top: 4px;
}

#projects-module {
  flex-direction: column;
}
.projects-header {
  text-align: center;
}
.project-tile-container {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.modal-btn {
  border: none;
  cursor: pointer;
  outline: none !important;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  background-color: #c6bba9;
  width: 428.5px;
  height: 300px;
  margin: 30px 5px;
}

.project-title {
  width: 100%;
  height: 175px;
  display: flex; 
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  color: white;
}
.project-image {
  width: 100%;
  height: 100%;
  margin-top: -175px;
  transition: opacity 500ms;
}

.project-image:hover {
  opacity: 0;
}

.modal-github-button {
  background-color: #e1d4c0;
  border: none;
  color: rgb(0,0,70);
}

.modal-github-button:hover {
  background-color: #c6bba9;
}

modal-github-button:focus {
  outline:0 !important;
}

#social-module {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.social-header {
  padding-bottom: 100px;
}

#social-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-btn {
  width: 58px;
  margin-left: 30px;
  margin-right: 30px;
  transition: all 300ms;
}

.social-btn:hover {
  transform: scale(1.2);
}

.small {
  width: 75px;
}

#freelance-module {
  flex-direction: column;
  align-items: center;
}

.freelance-header {
  text-align: center;
}
.freelance-tile-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.freelance-header {
  width: 60%;
  text-align: center;
  margin-bottom: 20px;
}

.freelance-modal-btn {
  border: none;
  cursor: pointer;
  outline: none !important;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  background-color: #c6bba9;
  width: 428.5px;
  height: 300px;
  margin: 30px 5px;
}

.freelance-title {
  width: 100%;
  height: 175px;
  display: flex; 
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  color: white;
}
.freelance-image {
  width: 100%;
  height: 100%;
  margin-top: -175px;
  transition: opacity 500ms;
}

.freelance-image:hover {
  opacity: 0;
}

#navbar {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.navlink {
  background-color: transparent;
  border: none;
  cursor: pointer;
	margin: 0px 5px;
  font-size: 20px;
  outline: none !important;
  box-shadow: none;
}

#home-btn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 5px;
  font-size: 20px;
  outline: none !important;
  box-shadow: none;
}

#home-btn:hover {
  color: #c6bba9;
}

#about-btn {
  color: #c6bba9;
}

/* Animations */
.fade-in {
  opacity: 0;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
}

.fade-in2 {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
}

.fade-in-mod {
  opacity: 0;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@media  (max-height: 800px) {
  .carousel-inner {
    width: 50%;
  }
  #title {
    margin-top: 10px;
  }
  .module {
    margin-top: 10px;
    height: 80vh;
  }
  .about-container {
    overflow-y: scroll;
  }

  .project-tile-container {
    margin-top: 20px;
    max-height: 70vh;
    overflow-y: scroll;
  }

  .freelance-tile-container {
    margin-top: 20px
  }
}

.logo-container-mobile {
  display: none;
}

@media (min-width: 320px) and (max-width: 980px) {
  #name {
    margin-top: 5vh;
    font-size: 6rem;
  }

  h2 {
    margin-top: 5vh;
    font-size: 4.5rem;
  }

  .freelance-header {
    width: 100%;
  }

  #carousel-outer {
    margin-top: 8vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10vh;
  }
  .carousel-item {
    width: 750px;
    height: 750px;
    overflow: hidden;
  }
  .carousel-item img {
    display: none !important;
  }

  .about-me-img {
    background-image: url('../images/aboutme-mobile.jpg');
    background-size: 100%;
  }
  .projects-img {
    background-image: url('../images/projects-mobile.jpeg');
    background-size: 100%;
  }
  .freelance-img {
    background-image: url('../images/freelance-mobile.jpg');
    background-size: 100%;
  }
  .social-img {
    background-image: url('../images/social-mobile.jpg');
    background-size: 100%;
  }

  .module {
    height: 78vh;
    max-height: 78vh;
    margin-bottom: 2vh;
  }
  .about-module {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  #about-info {
    font-size: 2rem;
  }

  .about-container {
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
  }

  .left-side, .right-side {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5vh;
  }
  .hexagon {
    display: none;
  }
  .right-side h3 {
    font-size: 3rem;
  }

  .logo-container {
    display: none;
  }

  .logo-container-mobile {
    display: grid;
    grid-template-columns: 33.33% 33.34% 33.33%;
  }
  .logo-tile-mobile {
    width: 100%;
    align-self: center;
    justify-self: center;
  }
  .logo-img-mobile {
    margin: auto;
    width: 40%;
    height: auto;
  }
  .logo-tile-mobile img {
    width: 100%;
  }
  .logo-tile-mobile p {
    margin-top: .1rem;
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
  .project-tile-container {
    margin-top: 6vh;
    overflow-y: scroll;
  }

  .freelance-tile-container {
    margin-top: 6vh;
    overflow-y: scroll;
  }

  .modal-btn, .freelance-modal-btn {
    width: 60%;
    height: auto;
  }

  .modal-dialog {
    width: 70%;
    max-width: none;
  }

  .modal-header h5 {
    font-size: 2.5rem;
  }

  .modal-body {
    font-size: 2rem;
  }

  .modal-footer .btn {
    font-size: 2rem;
  }

  .social-btn {
    width: 90px;
  }

  .small {
    width: 115px;
  }

  #navbar {
    margin-top: 0px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10vh;
  }

  .subnav-flex {
    display: flex;
    flex-wrap: nowrap;
  }

  .navlink {
    font-size: 2.3rem;
    margin: 0px 1px 4px 1px;
  }

  #home-btn {
    font-size: 2.3rem;
    margin: 0px 1px 4px 1px;
  }

}